<!-- Footer -->
<footer class="page-footer font-small mdb-color mt-4 pt-3 pb-3 d-flex align-items-center flex-wrap">

    <p class="text-center text-md-left pr-4 mb-0">
        © 2018-2020 SMMLike.Ru
    </p>
    <div class="d-flex flex-wrap justify-content-between">
        <a class="nav-link shop" href="/shop">
            Магазин
        </a>
        <a class="nav-link blog" href="/oferta">
            Оферта
        </a>
        <a class="nav-link blog" href="/blog">
            Блог
        </a>
        <a class="nav-link blog" href="/login">
            Личный кабинет
        </a>

    </div>
    <div class="d-flex flex-wrap justify-content-center col-md-3 col-sm-12">
        <a class="nav-link shop" href="https://twitter.com/Smmlike1">
            <i class="fab fa-twitter" style="color: #63B4FF;"></i>
        </a>
        <a class="nav-link blog" href="https://www.instagram.com/smmlike.ru/">
            <i class="fab fa-instagram" style="color: #D663FF;"></i>
        </a>
        <a class="nav-link blog" href="https://t.me/Smmlikeru">
            <i class="fab fa-telegram-plane" style="color: #4770FF;"></i>
        </a>
    </div>
    <img src="/images/payment-systems.png" alt="">
</footer>
