<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark w-100 container">
    <div class="container col-md-12" style="margin: 0;">
        <a class="navbar-brand pl-3" href="/">
            <img src="/images/smmlike-logo.png" alt="">
        </a>
        <button class="navbar-toggler text-black-50" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                <title>
                    Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                      d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div>
                <div class="d-flex flex-wrap justify-content-between">
                    <a class="nav-link shop" href="/shop">
                        Магазин
                    </a>
                    <a class="nav-link blog" href="/blog">
                        Блог
                    </a>
                    <% if (user) { %>
                        <a class="nav-link user" href="/shop">
                            <img src="/images/user-icon.png" class="glyphicon-resize-small" alt="">
                            <%= user['first_name'] + ' ' + user['last_name'] %>
                        </a>
                    <% } else { %>
                        <a class="nav-link blog" href="/login">
                            Личный кабинет
                        </a>
                    <% } %>
                    <% if (user && user.admin !== 0) { %>
                        <a class="nav-link admin-panel" href="/admin-panel">
                            Admin Panel
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table table-responsive-md">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Итого</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="finish-part text-center">
                    <h4 class="color-6c m-0">Итого: <span class="total-cart"></span> руб</h4>
                    <button class="btn btn-order mt-4" id="make-order-button">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="success_tic" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head">
                    <h3 style="margin-top:5px;">Thank You! Your Order Has Been Successfully Completed.</h3>
                    <h5 class="order-id"></h5>
                </div>

                <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                </h1>

            </div>
        </div>
    </div>
</div>
<!-- //-->
