<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark w-100 container">
    <div class="container col-md-12" style="margin: 0;">
        <a class="navbar-brand pl-2" href="/">
            <img src="/images/smmlike-logo.png" style="max-width: 200px;" alt="">
        </a>
        <button class="navbar-toggler text-black-50" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                <title>
                    Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                      d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div>
                <div class="d-flex flex-wrap justify-content-between">
                    <a class="nav-link shop" href="/shop">
                        Магазин
                    </a>
                    <a class="nav-link blog" href="/blog">
                        Блог
                    </a>
                    <% if (user) { %>
                        <a class="nav-link user" href="/shop">
                            <img src="/images/user-icon.png" class="glyphicon-resize-small" alt="">
                            <%= user['first_name'] + ' ' + user['last_name'] %>
                        </a>
                    <% } else { %>
                        <a class="nav-link blog" href="/login">
                            Личный кабинет
                        </a>
                    <% } %>
                    <% if (user && user.admin !== 0) { %>
                        <a class="nav-link admin-panel" href="/admin-panel">
                            Admin Panel
                        </a>
                    <% } %>
                    <div class="align-items-baseline flex-wrap flex-column justify-content-center pb-1 border-bottom w-100 show-mobile"
                         style="font-size: 14px; display: none;">
                        <p class="ml-auto mr-auto">
                            <span class="pr-1">Ваш баланс:</span>
                            <span><span class="userBalance"><%= user.balance %></span> руб.</span>
                        </p>
                        <p class="ml-auto mr-auto mb-2">
                            <a href="#" class="nav-link text-black-50 text-decoration-none d-flex align-items-center"
                               style="font-size: 14px; border: 2px solid #57B894; border-radius: 30px; padding: 5px 10px!important; margin: 0 auto;"
                               data-toggle="modal" data-target="#add_balance">
                                Пополнить
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="show-cart table table-responsive-md">
                    <thead>
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Кол</th>
                        <th>Итого</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="finish-part text-center">
                    <h4 class="color-6c m-0">Итого: <span class="total-cart"></span> руб</h4>
                    <button class="btn btn-order mt-4" id="make-order-button">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="success_tic" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head">
                    <h3 class="order-message" style="margin-top:5px;"></h3>
                </div>

                <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
                    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                    <span class="swal2-success-line-tip"></span>
                    <span class="swal2-success-line-long"></span>
                    <div class="swal2-success-ring"></div>
                    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                </div>


                <div class="swal2-icon swal2-error swal2-animate-error-icon d-none error-m" style="display: flex;">
                    <span class="swal2-x-mark">
                        <span class="swal2-x-mark-line-left"></span>
                        <span class="swal2-x-mark-line-right"></span>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- //-->
