<html>
<head>
    <%- include includes/app.scripts.ejs %>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/product.css" rel="stylesheet">
    <style>
        a[data-toggle="collapse"], textarea {
            width: 100%;
            padding: 20px;
            text-align: left;
            background: white !important;
            color: black !important;
            border: 0;
            border-radius: 30px;
            outline: none !important;
        }

        .help-question-block, .new-question {
            padding: 10px;
        }

        .question-answer .card {
            border: 0 !important;
            background: transparent !important;
        }

        textarea {
            height: 190px;
        }

        a.btn.btn-primary {
            white-space: normal;
            word-break: break-word;
        }
    </style>
</head>
<body>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <%- include includes/header.ejs %>

        <div class="container">
            <div class="questions w-100 pt-3 pb-3">
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample">
                        ⁃ Как выбрать и заказать продвижение?
                    </a>
                    <div class="collapse question-answer" id="collapseExample">
                        <div class="card card-body">
                            Вам необходимо зайти в магазин <a href="https://smmlike.ru/shop" target="_blank">https://smmlike.ru/shop</a> и выбрать необходимый товар, указать
                            количество, скорость выполнения и ссылку на вашу страницу. После этого произвести оплату и
                            начнется выполнение.
                        </div>
                    </div>
                </div>
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample1" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample1">
                        ⁃ Можно ли заказать накрутку сразу в нескольких соцсетях?
                    </a>
                    <div class="collapse question-answer" id="collapseExample1">
                        <div class="card card-body">
                            Да, для этого вам необходимо добавить в корзину несколько товаров, после этого произвести
                            оплату. Вы всегда можете удалить ненужные товары из корзины и оставить необходимые.
                        </div>
                    </div>
                </div>
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample2">
                        ⁃ Вы накручиваете ботов или это реальные люди?
                    </a>
                    <div class="collapse question-answer" id="collapseExample2">
                        <div class="card card-body">
                            Все заказы выполняют реальные люди и получают за это оплату. Размер оплаты зависит от
                            скорости выполнения задания.
                        </div>
                    </div>
                </div>
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample3">
                        ⁃ Сколько можно заказать?
                    </a>
                    <div class="collapse question-answer" id="collapseExample3">
                        <div class="card card-body">
                            Вы можете заказать любое количество от 99 руб. Верхняя планка не ограничена, чтобы заказать
                            более 10000 - введите необходимое число в поле ввода.
                        </div>
                    </div>
                </div>
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample4">
                        ⁃ Как быстро выполняется заказ?
                    </a>
                    <div class="collapse question-answer" id="collapseExample4">
                        <div class="card card-body">
                            Заказы выполняются автоматически сразу после оплаты. Вам не нужно ждать пока менеджер увидит
                            ваш заказ и поставит на выполнение. Автоматическое выполнение 24 часа в сутки, без выходных.
                        </div>
                    </div>
                </div>
                <div class="help-question-block">
                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample5" role="button"
                       aria-expanded="false"
                       aria-controls="collapseExample5">
                        ⁃ Как оплатить выбранные позиции?
                    </a>
                    <div class="collapse question-answer" id="collapseExample5">
                        <div class="card card-body">
                            Все товары вы можете оплатить посредством Freekassa. После оформления заказа просто выберите
                            удобный способ оплаты: картой, qiwi, webmoney или любой другой.
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-question">
                <label class="pl-3" for="newQuestion">Задайте свой вопрос:</label>
                <textarea name="newquestion" id="newQuestion" class="w-100"></textarea>
            </div>
            <div class="text-center pb-5 mb-5">
                <button class="btn btn-order mt-4 send_question">Отправить</button>
            </div>
            <div class="bottom-image text-right float-right" style="margin-top: -160px;">
                <img src="/images/help-bottom.png" class="w-75" alt="">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.send_question').click(function () {
            let formattedBody = $('textarea#newQuestion').val();
            let mailToLink = "mailto:info@smmlike.ru?body=" + encodeURIComponent(formattedBody);
            window.location.href = mailToLink;
        })
    })
</script>
</body>
</html>
